<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OS Guide.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2A40BDD61CEBC451001BE4D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A40BDEA1CEBC452001BE4D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A40BDF51CEBC452001BE4D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
